h1, h3 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.item img {
  padding: 3px;
  height: 150px;
  width: 150px;
  border: 1px solid grey;
  border-radius: 50%;
}

.item:hover {
  cursor: pointer;
}

.selected {
  border: 1px solid cadetblue;
  box-shadow: 3px 3px 20px cadetblue;
  border-radius: 50%;
}

#wheel {
  width: 250px;
  margin-top: 50px;
}

#computer {
  padding-top: 15px;
  height: 400px;
  background-color: cadetblue;
  text-align: center;
}

#reset {
  margin-top: 15px;
  padding: 10px;
}

.green {
  color: green;
}

.red {
  color: firebrick;
}